[Desktop Entry]
Type=Application
Name=Junction Studio
Comment=Git & Code Navigator
Exec=junction %F
Icon=junction
Categories=Development;RevisionControl;
Terminal=false
